@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Here's the value for Setting1:</h2>
    <h2><em style="color: #b70d31;">@Html.Raw(Model.Setting1)</em></h2>
</div>
