@page
@model Azure.Configuration.Demos.Keyvault02Model
@{
    ViewData["Title"] = "Key Vault - 2";
}

<h2>Here's the value for Secret1, retrieved through a <em>Key Vault Reference</em>:</h2>
<h2><em style="color: #b70d31;">@Html.Raw(Model.Secret1)</em></h2>