@page
@model Azure.Configuration.Demos.Keyvault01Model
@{
    ViewData["Title"] = "Key Vault - 1";
}

<h2>Here's the value for Secret1, retrieved through <em>SecretClient</em>:</h2>
<h2><em style="color: #b70d31;">@Html.Raw(Model.Secret1)</em></h2>
